# ADC configuration options

# Copyright (c) 2017 comsuisse AG
# SPDX-License-Identifier: Apache-2.0

config ADC_SAM_AFEC
	bool "SAM ADC Driver"
	depends on SOC_FAMILY_SAM
	help
	  Enable Atmel SAM MCU Family Analog-to-Digital Converter (ADC) driver
	  based on AFEC module.

if ADC_SAM_AFEC

config ADC_SAM_AFEC_SINGLE_TRIG_OS
	bool "Single Trigger required to sample"
	default y
	depends on ADC_SAM_AFEC
	help
	  When enabled only a single trigger is required to obtain a sample when oversampling

endif