# ADC configuration options

# Copyright (c) 2017 comsuisse AG
# SPDX-License-Identifier: Apache-2.0

config ADC_SAM_AFEC
	bool "SAM ADC Driver"
	depends on SOC_FAMILY_SAM
	help
	  Enable Atmel SAM MCU Family Analog-to-Digital Converter (ADC) driver
	  based on AFEC module.

config ADC_SAM_AFEC_HW_TRIGGER
	bool "Enable Hardware based timer triggering for SAM ADC Driver"
	depends on ADC_SAM_AFEC
	help
	  Enable the use of hardware based sampling triggers
