# ADC configuration options

# Copyright (c) 2017 comsuisse AG
# Copyright (c) 2022 RIC Electronics
# SPDX-License-Identifier: Apache-2.0

config ADC_SAM_AFEC
	bool "SAM ADC Driver"
	depends on SOC_FAMILY_SAM
	help
	  Enable Atmel SAM MCU Family Analog-to-Digital Converter (ADC) driver
	  based on AFEC module.

if ADC_SAM_AFEC

config ADC_SAM_AFEC_DMA
	bool "Use DMA for the transfer"
	depends on DMA
	help
	  When enabled DMA will be used for the transfer. Note that
	  currently DMA requires a hardware trigger to be configured.
	  Please refer to the driver binding file and the datasheet
	  for more information on how to configure a hardware trigger.

config ADC_SAM_AFEC_TAG_CHANNEL
	bool "When using DMA include a channel tag"
	depends on ADC_SAM_AFEC_DMA
	help
	  When DMA is enabled optionally change the data width to 32-bits
	  and include a channel tag. This makes it easy to validate which
	  channel a sample came from.

	  Note that data caching is enabled by default so the cache must
	  be invalidated after reading to get the correct results.
	  For example:

	  adc_read_async(adc0, &seq, &signal);
	  SCB_InvalidateDCache_by_Addr(buffer, sizeof(buffer));

config ADC_SAM_AFEC_DMA_TIM_TIG
	bool "Use the timer for a hardware trigger"
	depends on DMA
	help
	  When enabled DMA will use the timer for the hardware trigger.
	  The trigger-source still needs to be set in the device tree
	  as there are different timers and channels.

config ADC_SAM_AFEC_SINGLE_TRIG_OS
	bool "Single Trigger required to sample"
	default y
	depends on ADC_SAM_AFEC
	help
	  When enabled only a single trigger is required to obtain a sample when oversampling

endif